@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: lightblue;
  background-image: url('https://source.unsplash.com/1600x900/?weather');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
    display: flex;
    position: relative;
    background-color: transparent;
    color: #000;
}
.brand-title {
   font-size: 2.5rem;
    margin: 30px 50px;
    font-weight: bold;
    color: #fff;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  border-radius: 10%;
  background-color: rgba(0,0,0,0.8);
  max-width: 380px;
  margin: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.desc {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.detail {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-flow: wrap;
}

.detail hr {
  width: 100%;
  flex-basis: 100%;
  height: 0;
  margin: 0;
  border: 0;
}

.tempmin {
  padding-right: 50px;
  margin-bottom: 5px;
}
.sunrise{
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.wind,
.city {
  text-align: left;
}

h2 {
  margin-bottom: 0;
}

h1 {
  font-size: 2.2rem;
  margin: 0;
  margin-bottom: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px rgba(17, 17, 17, 0.274);
}

.country {
  font-size: 16px;
  font-weight: lighter;
  border-radius: 50%;
  background-color: rgba(103, 252, 140, 0.562);
  padding: 2px;
  margin-bottom: 5px;
}

input {
  border-radius: 15px;
  background: #fff;
  outline: none;
  font-size: 1.1rem;
  padding: 5px;
  padding-left: 10px;
  font-family: "Times New Roman", Times, serif;
}

button {
  margin: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  outline: none;
  height: 30px;
  width: 30px;
  background: rgba(247, 244, 244, 0.548);
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #fff;
   border-color: black; 
}
.icon{
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin: 0 20px;
}

.wcard.loading {
  visibility: hidden;
}

.wcard.loading::after {
  visibility: visible;
  content: "Loading...";
  color: black;
  margin-left: 20px;
}


@media screen and (max-width: 500px){
  section{
    margin-top: 17px;
  }
  .brand-title{
    font-size: 1.8rem;
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 1px;
  }
  .input{
    font-size: 0.8rem;
  }
  .card h1{
    font-size: 1.5rem;
  }
 
  button {
    margin: 0.1rem;
    height: 25px;
    width: 25px;
  }
  
}
@media screen and (max-width: 360px){
    input{
        font-size: 0.8rem;
    }
}
